
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_box {
    padding: 15px;
}
.logo {
    margin: 100px 20px;
   
    
}

.logo img {
    width:200px;
    margin: 10px auto;
    display: block;

}

.login_box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5px;
    margin-left: 10px;
    
}
.right_background {
    background-image: url('images/log.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin-right: -20px;
 
 

}

#transation-ara {
    display: none;
    padding: 50px;
    
}

.deposit {
    background-color: slateblue;
}
.withdraw {
    background-color: lightcoral;
}
.balance {
    background-color: orange;
}

.status {
    padding: 10px 20px;
    border-radius: 10px;
    color:#fff;
    margin: 0 20px;
}

.submit-area {
    margin-top:50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow:5px 5px 10px gray;
}

@media only screen and (max-width: 768px){
    .right_background {
     display: none;
    }
}